
<footer>
    <div class="container-fluid">
        <h1 >
            أتصل بنا
        </h1>
        <h4>
            نهاية بتطويق عدم عن, قد ليرتفع بأضرار استطاعوا ذلك, نفس لم أصقاع أجزاء الصينية. وقد بل الهجوم
        </h4>

        <div class="row">
            <div class="col-lg-12">
                <form>
                        <div class="form-group">
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
                        
                        </div>
                        <div class="form-group">
                        <input type="email" class="form-control" id="useremail">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="5"></textarea>
                        </div>
                        <button id="contact-submit" type="submit" class="btn">أرسال</button>
                </form>
            </div>
        </div>
    </div>  
</footer>

<div id="site-map">
    <ul id="social-footer" class="text-center">
        <li><a routerLinkerLink=""><i class="fab fa-instagram"></i></a></li>
        <li><a routerLinkerLink=""><i class="fab fa-twitter"></i></a></li>
        <li><a routerLinkerLink=""><i class="fab fa-facebook-f"></i></a></li>
        <br>
        <li class="footer-links"><a routerLink="">الرئيسية </a></li>
        <li class="footer-links"><a routerLink="">عن يوكاست </a></li>
        <li class="footer-links"><a routerLink="">قسم المواهب </a></li>
        <li class="footer-links"><a routerLink="">المنتجون </a></li>
        <li class="footer-links"><a routerLink="">المؤلفون </a></li>
        <li class="footer-links"><a routerLink="">فريق العمل </a></li>
        <li class="footer-links"><a routerLink="">الهاب </a></li>
        <li class="footer-links"><a routerLink="">أتصل بنا </a></li>
    </ul>
    <hr>
    <div id="copyright">
        <p>&copy; جميع الحقوق محفوظة. 2017 يوكاست</p>
    </div>
</div>

