
<div class="container-fluid">
  <div class="jumbotron bg-white">
    <div class="row">
      <div class="col-sm-6">
        
        <div class="form-group">
          <div id="empty-img"></div>
          <label for="audition-email" style='font-family: "cairo-bold", "arial", sans-serif;'>اسم المنشأة</label>
          <input name="email" type="email" class="form-control" id="audition-email" aria-describedby="emailHelp"
            placeholder="البريد الألكتروني">
        </div>
        <div id="text">
          لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور<br><br>
          أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
        </div>
      </div>

      <div class="col-sm-6">
        <div id="upload-img">
          <label for="uploadbtn">
            <img [src]="url" width="150" height="150">
            <!-- <i class="fas fa-camera"></i> -->
          </label>
        
          <input type="file" id="uploadbtn" (change)="onSelectFile($event)" accept="image/*">
          
        </div>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.6545750588884!2d-97.17107368457214!3d49.86773297939924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDnCsDUyJzAzLjgiTiA5N8KwMTAnMDguMCJX!5e0!3m2!1sen!2seg!4v1618483958031!5m2!1sen!2seg" width="400" height="200" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div> <!-- end row -->


    <form>
      <div class="row">
          <div class="col-sm-6">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" checked><span style="padding-right: 30px;">2018-1-2 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 10:30م</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio"><span style="padding-right: 30px;">2018-1-2 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 10:30م</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio"><span style="padding-right: 30px;">2018-1-2 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 10:30م</span>
              </label>
            </div>                       
          </div>
          
          <div class="col-sm-6">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio"><span style="padding-right: 30px;">2018-1-2 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 10:30م</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio"><span style="padding-right: 30px;">2018-1-2 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 10:30م</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio"><span style="padding-right: 30px;">2018-1-2 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 10:30م</span>
              </label>
            </div>                      
          </div>
          
        </div>
    </form>
        
    <!-- <div id="map"></div> -->
    

    <button id="sendbtn" class="btn">ارسال</button>
  </div>
</div>

<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    const uluru = { lat: -25.344, lng: 131.036 };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4,
      center: uluru,
    });
    // The marker, positioned at Uluru
    const marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALrJTWRSyQZSzymt49SYq1LtE9y_kOrzk&callback=initMap">
</script>
