

#empty-img {
    height: 100px;
    width: 100px;
    background-color: rgb(204, 200, 200);
    float: right;
    margin-left: 10px;
}

#audition-email {
    width: 100%;    
    margin-right: 100px;
}

#text {
    width: 70%;
    font-family: "cairo-bold", 'arial', sans-serif;
    margin-bottom: 20px;
}

#upload-img {
    float: left;
    margin-left: -300px;
}

#upload-img >input {
    visibility: hidden;
    float: left;
    text-align: left;
    left: 0;
    margin-left: 0;
  }

iframe {
    border: 0;
    margin-top: 50px;
    float: left;
}

#uploadbtn {
    float: left;
    text-align: left;
    left: 0;
    margin-left: 0;
}

/* ******************************************* radio group ************************************* */
form {
    font-family: 'cairo-bold', 'arial', sans-serif;
    width: 60%;
    margin-bottom: 20px;
    margin-top: -70px;
}



@media only screen and (max-width: 1260px) {
    form {
        margin-top: 30px;
    }
    #audition-email {
        width: 70%;
    }
}

/* *********************************************************************************************************** */
#sendbtn {
    color: gold;
    background-color: black;
    font-family: 'cairo-bold', 'arial', sans-serif;
    transform: translateY(80px);
    width: 100px;
    border-radius: 10px;
}

/* ****************************************** map ************************************************** */

#map {
    height: 400px;
    width: 100%;
    border: solid 1px black;
}